<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Model Deployment</title>
    </head>
<body>
    <h1> predict semantic score</h1>
    <p>
        semantic similarity
    </p>
    <form method="POST" action="/">
        <input type="text" name="text1" placeholder="text 1">
        <input type="text" name="text2" placeholder="text 2">
        <input type="submit">
    </form>
    <p> The Semantic Score</p>
    {{my_score}}    
</body>
</html>